{% extends "base.html" %}
{% block title %}Дерево подразделений{% endblock %}
{% block navi %}{% endblock %}
{% block filter %}
  {% load static %}
{% endblock %}
{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">Дерево подразделений</h1>
    <ul class="list-group">
      {% for item in departments_paginator_list %}
        {% include "employees/department_item.html" with item=item %}
      {% endfor %}
    </ul>

    {% include 'includes/paginator.html' with obj=departments_paginator_list %}
  </div>

  <script>
    document.querySelectorAll(".department-toggle").forEach(toggle => {
      toggle.addEventListener("click", () => {
        let table = toggle.parentElement.querySelector(".employees-table");
        let subDeps = toggle.parentElement.querySelector(".subdepartments");

        if (table) {
          table.style.display = table.style.display === "none" ? "block" : "none";
        }
        if (subDeps) {
          subDeps.style.display = subDeps.style.display === "none" ? "block" : "none";
        }

        toggle.textContent = toggle.textContent === "➕" ? "➖" : "➕";
      });
    });
  </script>
{% endblock %}
